<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                autofocus: true ,
                input_html: { autocomplete: "email" },
                class: "input-field" %>
    <%= f.input :password,
                input_html: { autocomplete: "new-password" },
                class: "input-field" %>
    <%= f.input :password_confirmation,
                input_html: { autocomplete: "new-password" },
                class: "input-field"%>
    <%= f.input :calendar,
                input_html: { autocomplete: "upload calendar" },
                class: "input-field" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "go-btn" %>
  </div>
<% end %>
